
.underline {
    text-decoration: underline;
}

.box {
    width: 210px; 
    height: 150px; 
    margin: 0 auto; /* Center the boxes within their columns */
    margin-left: 10px; /* Adjust to bring closer or farther apart. */
    margin-right: 10px; /* Adjust to bring closer or farther apart. */
}

.box-container {
    min-height: 170px; /* 150px box height + 20px for potential margins or padding */
}

/* For Row 3 Color */
.text-color {
    color: #28a745;  /* hex color value for bg-success */
}

/* For Row 5 Boldness */
.text-bold {
    color: #dc3545; /*hex color value for bg-danger */
    font-weight: 800;
}

#box1 {
    border-style: solid;
}

#box2 {
    border-style: dashed;
    border-color: #FF69B4;
    border-width: 5px;
}

#box3 {
    border-style: solid;
    border-color: #FFA500;
}

/* For light gray background on all buttons */
.container button {
    background-color: 	#999DA0;  /* This is a light gray color */
    border-color: 	#999DA0;  /* Adjust the button border color to match */
}

/* Add vertical space below Row 3 */
.vertical-space {
    margin-bottom: 35px;  /* Adjust this value as needed */
}





